.profile__add-button {
  height: 50px;
  border: 2px solid white;
  box-sizing: border-box;
  background-image: url(../../../images/plus.svg);
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
}
.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 686px) {
  .profile__add-button {
    width: 100%;
    margin-top: 15px;
    background-size: 16px 16px;
  }
}
