.profile__info {
  display: grid;
  grid-template-columns: max-content auto;
  row-gap: 7px;
  column-gap: 18px;
  align-items: center;
}
@media screen and (max-width: 686px) {
  .profile__info {
    gap: 10px;
  }
}
