.card__heart {
  background-image: url(../../../images/card-heart.svg);
  width: 22px;
  height: 19px;
  flex-shrink: 0;
  /* background-size: 22px 19px; */
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: 0;
  background-color: #fff;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.card__heart:hover {
  opacity: 0.5;
  cursor: pointer;
}
